[submodule "lib/SFML"]
	path = lib/SFML
	url = https://github.com/SFML/SFML.git
[submodule "lib/wxWidgets"]
	path = lib/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
